@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

* {
    margin: 0;
    padding: 0;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.section {
    display: flex;
    align-items: center;
    min-height: 100vh;
    position: relative;
    color: #fff;
}

#permission {
    position: fixed;
    top: -20px;
    left: 0;
    background-color: #000000;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    text-decoration: underline;
    text-align: center;
    font-size: 3vmin;
    z-index: 100;
    height: 70px;
    display: none;
}

.center {
    margin: auto;
    text-align: center;
}

li {
    list-style-type: none;
}

button,
a {
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 0 1rem;
    font-size: 3vmin;
    line-height: 220%;
    cursor: pointer;
    border: none;
    font-family: 'Courier Prime', monospace;
    text-shadow: 1px 1px 1px #000;
}

button:hover,
a:hover {
    color: #33ff00;
    background-color: rgba(0, 0, 0, 0.8);
}

/* loading */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 1;
    transition: opacity ease-in-out 2s;
    z-index: 1000;
}

.ring {
    display: inline-block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ring:after {
    content: " ";
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 8px solid #6fff00;
    border-color: #6fff00 transparent #6fff00 transparent;
    animation: ring 1.2s linear infinite;
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* --------------------------------
contact 
-------------------------------- */

form {
    width: 600px;
}

::-webkit-input-placeholder {
    /* Edge */
    color: rgba(255, 255, 255, 1);
}

:-ms-input-placeholder {
    /* Internet Explorer */
    color: rgba(255, 255, 255, 1);
}

::placeholder {
    color: rgba(255, 255, 255, 1);
}

input,
textarea {
    width: 100%;
    margin-top: 1vmin;
    margin-bottom: 1vmin;
    padding: 1vmin;
    resize: vertical;
    font-family: 'Roboto', sans-serif;
    font-size: 2.4vmin;
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
}

input:focus,
textarea:focus {
    background-color: transparent;
    color: #fff;
    border-color: #33ff00;
}

input:valid,
textarea:valid {
    background-color: black;
    color: #fff;
    border-color: #33ff00;
}

#submit {
    border: none;
    background-color: transparent;
    font-size: 3vmin;
    margin-top: 30px;
    font-family: 'Courier Prime', monospace;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    -webkit-transition: .4s;
    transition: .4s;
}

#submit:hover {
    color: #33ff00;
}

#message {
    height: 20vh;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

/* --------------------------------
Modal Contents
-------------------------------- */

.modal-content {
    font-family: 'Roboto', sans-serif;
    width: 90%;
    margin: auto;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 1);
}

.modal-head {
    max-width: 600px;
    margin: auto;
    padding-top: 60px;
    text-align: left;
}

.modal-content h1 {
    font-family: 'Courier Prime', monospace;
    color: #33ff00;
    margin-bottom: 2vmin;
    font-size: 4vmin;
}

.modal-content h3 {
    margin-bottom: 5vmin;
}

.modal-content a {
    font-size: 2vmin;
}

.modal video {
    max-width: 100%;
}

.modal-content img {
    max-width: 100%;
    max-height: 80%;
    margin-bottom: 1vmin;
}

.modal-content .title {
    max-width: 600px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 3vmin;
    font-family: 'Courier Prime', monospace;
}

.modal-content p {
    max-width: 600px;
    margin: auto;
    line-height: 160%;
    margin-bottom: 20px;
    text-align: left;
}

.modal-content table {
    max-width: 600px;
    margin: auto;
    text-align: left;
    line-height: 160%;
}

.modal-content th{
    background-color: rgba(237, 247, 255, 0.2);
    border-bottom: 1px solid #000;
    padding: 0.5rem 1rem;
}
.modal-content td{
    border-bottom: 1px solid #ddd;
    padding: 0.5rem;
}

.modal-content a {
    padding: 0rem 0rem;
}

.uc-desc li {
    list-style-type: disc;
    list-style-position: inside;
}

.yellow {
    color: rgb(255, 219, 40);
}

.pink {
    color: rgb(255, 163, 142);
}

/* The Close Button */
.close {
    color: #ffffff;
    float: right;
    font-size: 40px;
    margin-top: 40px;
}

.close:hover,
.close:focus {
    color: #33ff00;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
}

/* multieculture */
#idea {
    margin-bottom: 1vmin;
    height: 90vh;
}

.flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
}

#idea .left {
    flex: 50%;
}

#idea .right {
    flex: 50%;
}

#idea .first .left {
    background: url(../images/multiculture/hex.jpg) no-repeat center;
    background-size: cover;
}

#idea .first .right {
    background: url(../images/multiculture/globe.jpg) no-repeat center;
    background-size: cover;
}

#idea .second .left {
    background: url(../images/multiculture/support.jpg) no-repeat center;
    background-size: cover;
}

#idea .second .right {
    background: url(../images/multiculture/network.jpg) no-repeat center;
    background-size: cover;
}

.img-box {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
}

.img-box:hover {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: grayscale(80%) blur(6px);
}

.img-box p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 4vmin;
    color: #fff;
    filter: blur(10px);
    text-shadow: 0 0 30px #000;
    -webkit-transition: .4s;
    transition: .4s;
    opacity: 0;
}

.img-box:hover p {
    opacity: 1;
    filter: blur(0px);
}

#dynamicLogoWrapper {
    height: 80vh;
    background: #fbfbfb;
    align-items: center;
    margin-bottom: 1vmin;
    position: relative;
}

#dynamicLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#patternWrapper {
    height: 80vh;
    margin-bottom: 1vmin;
    position: relative;
    background: url(../images/multiculture/pattern.gif) no-repeat center;
    background-size: cover;
}

/* toggle */

.button-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
}

.button-cover,
.knobs,
.layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button {
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
}

.button.round .layer {
    border-radius: 100px;
}

#checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.layer {
    width: 100%;
    border: 1px solid #fff;
    transition: 0.3s ease all;
    z-index: 1;
}

#toggle .knobs:before {
    font-family: 'Poppins', sans-serif;
    content: "KO";
    position: absolute;
    top: 3px;
    left: 8px;
    width: 20px;
    height: 10px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#toggle #checkbox:checked+.knobs:before {
    content: "EN";
    left: 40px;
}

.mobile {
    display: none;
}

.web {
    display: block;
}

@media (max-width: 600px) {
    form {
        width: 80vw;
    }

    .modal-content {
        width: 90%;
    }

    button,
    a {
        font-size: 4.5vmin;
        line-height: 220%;
    }

    #submit {
        font-size: 4.5vmin;
    }

    input,
    textarea {
        padding: 0.5vmin;
        font-size: 4.5vmin;
        line-height: 220%;
        border-left: 6px solid #000;
        border-right: 6px solid #000;
    }

    input:focus,
    textarea:focus {
        border-left: 6px solid #000;
        border-right: 6px solid #000;
    }

    input:valid,
    textarea:valid {
        border-left: 6px solid #000;
        border-right: 6px solid #000;
    }

    .flex-container {
        flex-direction: column;
    }


    #idea .cover {
        height: 100%;
        min-height: 50%;
    }

    .modal-content h1 {
        font-size: 8vmin;
    }

    .modal-content h3 {
        margin-bottom: 5vmin;
    }

    .modal-content a {
        font-size: 5vmin;
    }

    .modal-content .title {
        margin-bottom: 2px;
        font-size: 5vmin;
        font-family: 'Courier Prime', monospace;
    }

    .close {
        margin-top: 10px;
    }

    .mobile {
        display: block
    }

    .web {
        display: none;
    }
}